*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: Helvetica;
}

header{
	width: 100%;
	height: 120px;
	/*background-color: #ccc;*/
	margin: 0px 50%  0px 0px;
	border-bottom: .5px #ccc solid;
}


a{
	text-decoration: none;
	color: #000;
	font-size: 13pt;
	font-weight: lighter;
}




nav{
	width: 50%;
	height: 50px;
	/*background-color: #00ffff;*/
	float: right;
	padding-top: 60px;
}


li{
	display: inline;
	width: 100px;
	height: 20px;
	text-align: center;
	/*background-color: green;*/
	padding-right: 40px;
	padding-left: 40px;
	margin-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000;
}



li:hover{
	border: 1px solid  #09dbb3;
	
}

#logo{
	width: 300px;
	height: 80px;
	/*background-color: #cc0000;*/
	padding-top: 30px;
	padding-left: 30px;
	float: left;
}

#s1{
	color: #09dbb3;
	font-weight:bold;
	font-size: 30px;
	float: left;
}

#s2{
	font-weight: bold;
	font-size: 30px;
	float: left;
	margin-left: 20px;
}

#s3{
	color: #848484;
	font-weight: bold;
	font-size: 30px;
	margin-left: 40px;
}


