
h1{
	color:red;
	background-color: blue;
	font-family: Georgia;
	text-align: center;
	text-transform: uppercase;
	line-height: 19px;}
  
h2{
  color:red;
  background-color: blue;
  font-family: Georgia;
  text-align: center;
  text-transform: uppercase;
  line-height: 19px;}

body {
  width: 900px;
  margin: 0 auto;
  font-family: sans-serif;
}



li {
  float: left;
  width: 150px;
  list-style: none;
  margin-right: 50px;
  border: solid black;
  padding: 3px;
}

#main{  
  float: left;
  width: 200px;
  margin-right: px;
  padding: 3px;
  margin: 0 auto;
}

